@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Beerio Recipes</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Beer Recipe Creator</h2>
        <p>
            Make it so. 
        </p>
    </div>
</div>